.container {
  font-size: var(--text-md);
  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
  font-weight: var(--md)
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

a:hover {
  border: none;
  cursor: pointer;
}

Footer {
  background: white;
  border-top: 1px solid black;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

Footer p:nth-last-child(1) {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


